/* Hover effect for the button */
button:hover {
  background-color: rgb(24, 51, 172) !important;
}
.carousel-item {
  height: 350px; /* 원하는 높이로 설정 */
}
.carousel-item > .position-absolute {
  backdrop-filter: brightness(0.4);
}
.wg-hero > .hero-title > span {
  color: white;
}
.navbar-nav {
  flex-direction: row !important;
  order: 1 !important;
  margin-left: auto;
  margin-right: auto;
}
.navbar > .ml-auto > .mr-5 {
  margin-right: 0px !important;
}
.navbar > .ml-auto {
  margin-left: 0px !important;
}
.resume-biography > .max-w-prose {
  margin-left: auto;
  margin-right: auto;
}
.resume-biography > .mx-auto {
  margin-left: auto;
  margin-right: 0 !important;
}
